body{
    background-image: url(http://orig03.deviantart.net/f7c4/f/2015/030/b/7/_minflat__default_windows_8_1_wallpaper__4k__by_dakoder-d7j7i5a.jpg);
    height: 100%;
    weight: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#form-page{
    position:absolute;
    top:20%;
    left:35%;
    right:35%;
}

.logo{
    width: 60%;
    height: auto;
}

.input-field input:focus + label {
   color: green !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid green !important;
   box-shadow: 0 1px 0 0 green !important
 }


div.picker__date-display{
    background-color: #ff5722;
}

div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
    background-color: #ff5722;
}

button.picker__today, button.picker__close {
    color: #ff5722;
}

div.input-field label {
  pointer-events: auto;
}

div.toast {
  background-color: #26a69a;
}
h2{
    color: #ff5722;
}